<%- include("partials/header") %>
	
	
	
			<h1> GOOD MORNING ABHI!!!</h1>
			<IMG src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQzQfw0VRaPh2YQdh2nUnzEu_p8G8Cxr7gMkvqCTt2hh3Dfepj2" />

<%- include ("partials/footer") %>

