<%- include ("partials/header") %>
<br/>
<a href="/addcampgrounds">add new campground</a>
<h1>Landing page</h1>

<a href="/campgrounds">View all campgrounds</a>
<br/>

<%- include ("partials/footer") %>