<%- include ("../partials/header") %>

<h2 style="text-align:center"><strong>Add a New Comment to <%=campground.name%></strong></h2>
<ul>

	<div style="width:25%;margin:20px auto;">
		<form action="/campgrounds/<%=campground._id%>/comment" method="POST">
			
			<input class="form-control" type="text" placeholder="author" name="comment[author]"><br/>
			<input class="form-control" type="text" placeholder="text" name="comment[text]"><br/>
			<button class= "btn btn-md btn-primary btn-block">Submit</button>
		</form>
	</div>

</ul>
<%- include ("../partials/footer") %>